* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #B4F8C8;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 11px;
    color:#170435
}
.neumorphism{
    background-color: #B4F8C8;
    box-shadow: 3px 3px 8px #d0f8dd,
                 -3px -3px 8px #96dbab;
               /* inset 3px 3px 3px #70a07e, */
               /* inset -6px -6px 10px #a2ebb8; */
}
.card-box {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 12px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
input{
    cursor: pointer;
    transition: all 250ms ease;
}

input:focus {
    border-color: #66afe9;
    -webkit-box-shadow: 0 1px 1px rgba(214, 44, 44, 0.075), 0 0 8px rgba(108, 202, 246, 0.6);
    box-shadow: 0 5px 5px rgba(170, 204, 18, 0.075), 0 0 8px rgba(71, 232, 238, 0.6);
}

.select-menu, .second-select-menu {
    cursor: pointer;
    position: relative;
}
.second-select-menu{
    margin-right: 10%;
    border-radius: 10px;

    background-color: #eee;
}
.select,.second-select {
    padding: 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-select{
    width: 100px;
}
.option-list {
    position: absolute;
    width: 100%;
    border-radius: 6px;
    top: 60px;
    padding: 0 8px;
    max-height: 250px;
    overflow-y: hidden;
    transition: .2s linear .1s;
    z-index: 99;
    height: 0;
    background-color: #89CFF0;
    font-size: 10px;
}
.second-option-list{
    position: absolute;
    height: 0;
    width: 100px;
    top: 0;
    left: 60px;
    overflow-y: hidden;
    background-color: #92A8D1;
    z-index: 999;

}
.option label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.option, .second-option {
    gap: 5px;
    height: 40px;
    padding: 6px 0;
    transition: 0.2s ease-in-out;
}
.cyberpunk-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #30cfd0;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 4px;
  cursor: pointer;
}
.cyberpunk-checkbox:before {
  content: "";
  background-color: #30cfd0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}
.cyberpunk-checkbox-label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
.cyberpunk-radio{
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #30cfd0;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 4px;
  cursor: pointer;
}
.cyberpunk-radio:before {
  content: "";
  background-color: #30cfd0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.cyberpunk-radio:checked:before {
  transform: translate(-50%, -50%) scale(1);
}
.selected {
    color: #00a8ff;
}


.option-list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
}
.option-list::-webkit-scrollbar-thumb {
    background-color: #00a8ff;
}
.option-list.active {
    height: 250px;
}
.second-active{
    height: 140px;
}
.arrow-box {
    width: 16px;
    height: 16px;
    position: relative;
}
.arrow-box .arrow {
    position: absolute;
}
.arrow-hidden {
    visibility: hidden;
}
button{
    border: none;
}
.temp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#startScript{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}
#updateScript{
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
#appbar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #99f3b4;
    font-size: 14px;
    color: white;
    border-bottom: 1px solid white;
}
.info-box{
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.avatar{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: url("../img/avatar.png");
}
.info{
    width: calc(100vw - 84px);
}
.character-level{
    display: flex;
    margin-left:17px;
    gap: 74px;
    padding-bottom: 6px;
}
.info-box .account{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 6px;
}
.info-box .account input{
    width: 120px;
    height: 22px;
    font-size: 10px;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid white;
}
#time{
    width: 120px;
}
.tab-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #99f3b4;
    border-top: 1px solid white;
    box-shadow: 10px 10px 10px #888888;
}
.tab-item{
    flex:1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-bar .active{

    background-color: #66f29a;
}