* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #90dbdb;
    width: 100vw;
    display: flex;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 12px;
}
.neumorphism{
    background-color: #90dbdb;
    box-shadow: 15px 15px 30px #7ac4c4,
               -15px -15px 30px #b2ffff,
               inset 15px 15px 15px #b6f1f1,
               inset -10px -10px 15px #91cece;
}
.card-box {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    padding: 10px;
}

input[type="radio"] {
    cursor: pointer;
    transition: all 250ms ease;
}
#gameMode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    gap: 10px;
}
#gameMode label{
  display: flex;
  align-items: center;
  justify-content: center;
}
#gameMode label input{
  margin-left: 2px;
}
input:focus {
    border-color: #66afe9;
    -webkit-box-shadow: 0 1px 1px rgba(214, 44, 44, 0.075), 0 0 8px rgba(108, 202, 246, 0.6);
    box-shadow: 0 5px 5px rgba(170, 204, 18, 0.075), 0 0 8px rgba(71, 232, 238, 0.6);
}

.select-menu {
    cursor: pointer;
    position: relative;
}
.select {
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-list {
    position: absolute;
    width: 100%;
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 10px;
    max-height: 250px;
    overflow-y: hidden;
    transition: .3s linear .2s;
    z-index: 99;
    height: 0;
    background-color: #6ca5a5;
}
.option label{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.option {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.option input[type=checkbox]{
    outline-style: none;
    border: 1px solid #add3f0;
    border-radius: 6px;
    padding: 6px;
    font-family: "Microsoft soft";
}

.option .select-menu{
    width: 100px;
    background-color: green;
}
.option .select-menu .select{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.selected {
    color: #00a8ff;
}
/* .option-list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
}
.option-list::-webkit-scrollbar-thumb {
    background-color: #00a8ff;
} */
.option-list.active {
    height: 250px;
}
.arrow-box {
    width: 16px;
    height: 16px;
    position: relative;
}
.arrow-box .arrow {
    position: absolute;
}
.arrow-hidden {
    visibility: hidden;
}
#normal-instanceZone{
    width: 100%;
}
#normal-instanceZone .option{
    display: flex;
    align-items: center;
}
#normal-instanceZone .option label:first-of-type{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 10px;
}


#normal-instanceZone button{
    width: 30px;
    padding: 3px;
    border: none;
    font-weight: 700;
    border-radius: 12px;
}
#special-instanceZone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#special-instanceZone .select-menu{
    width: 60%;
    position: relative;
}

#startBtn {
  position: absolute;
    width: 50vw;
    height: 50px;
    left: 25%;
    bottom: 20%;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 40px;
}
.level-select-menu{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    font-size: 12px;
}
.level-select{
    width: 60%;
    display: flex;
    padding: 3px;
    border-radius: 20px;
    justify-content: space-between;
}
.level-option-list{
    width: 80%;
    position: absolute;
    background-color: rgb(62, 123, 134);
    border-radius: 10px;
    top: 120%;
    height: 0;
    overflow-y: hidden;
    z-index: 100;
}
.level-selected{
    height: 120px;
}
.level-option{
    padding: 10px 0;
    border-bottom: 1px solid rgb(46, 81, 105);
}