* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ecf0f3;
    width: 100vw;
    display: flex;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 10px;
}
.neumorphism{
    background-color: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1,
                 -14px -14px 20px white,
               inset -6px -6px 10px #f7f9fc,
               inset -6px -6px 10px rgb(216, 215, 215);
}
.card-box {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    padding: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
input{
    cursor: pointer;
    transition: all 250ms ease;
}

input:focus {
    border-color: #66afe9;
    -webkit-box-shadow: 0 1px 1px rgba(214, 44, 44, 0.075), 0 0 8px rgba(108, 202, 246, 0.6);
    box-shadow: 0 5px 5px rgba(170, 204, 18, 0.075), 0 0 8px rgba(71, 232, 238, 0.6);
}

.select-menu, .second-select-menu {
    cursor: pointer;
    position: relative;
}
.second-select-menu{
    margin-right: 10%;
    border-radius: 10px;

    background-color: #eee;
}
.select,.second-select {
    padding: 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-select{
    width: 100px;
}
.option-list {
    position: absolute;
    width: 100%;
    border-radius: 6px;
    top: 60px;
    padding: 0 10px;
    max-height: 250px;
    overflow-y: hidden;
    transition: .2s linear .1s;
    z-index: 99;
    height: 0;
    background-color: #5c7db9;
    font-size: 10px;
}
.second-option-list{
    position: absolute;
    height: 0;
    width: 100px;
    top: 0;
    left: 60px;
    overflow-y: hidden;
    z-index: 999;
    background-color: #1d7be6;

}
.option label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.option, .second-option {
    gap: 5px;
    height: 40px;
    padding: 8px 0;
    transition: 0.2s ease-in-out;
}

.option input[type=checkbox]{
    outline-style: none;
    border: 1px solid #add3f0;
    border-radius: 6px;
    padding: 6px;
}


.selected {
    color: #00a8ff;
}


.option-list::-webkit-scrollbar {
    width: 4px;
    background-color: #eee;
}
.option-list::-webkit-scrollbar-thumb {
    background-color: #00a8ff;
}
.option-list.active {
    height: 250px;
}
.second-active{
    height: 140px;
}
.arrow-box {
    width: 16px;
    height: 16px;
    position: relative;
}
.arrow-box .arrow {
    position: absolute;
}
.arrow-hidden {
    visibility: hidden;
}
button{
    border: none;
}
.temp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#startScript{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(124, 224, 219);
    box-shadow: 10px 10px 20px rgb(145, 219, 216);
}